
body {
  background-image: url(../src/Images/wallpaper-pokeball.png)!important; 
  background-attachment: fixed;
  cursor: url(../src/Icons/ash_cursor.png), auto;
}

h2 {
  font-family: 'Inter';
  font-size: 32px;
  font-weight: 700;
  line-height: 38.73px;
  color: white;
}

p{
  color: white;
}

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
